* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  overflow: hidden;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  font-smoothing: antialiased;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.4em;
  background: #ffffff;
  color: #4d4d4d;
  min-width: 400px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

input[type="text"] {
  border: 1px solid #dadee6;
  border-radius: 4px;
  padding: 6px;
  outline: none;
  width: 100%;
}

input[type="submit"] {
  color: #6f7788;
  cursor: pointer;
  border: 1px solid #dadee6;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 12px;
  outline: none;
}

input[type="submit"]:hover {
  box-shadow: 0 2px 5px #dadee6ab;
}

h1 small {
  font-weight: 300;
  font-size: 1.3rem;
}
