.wrapper { 
  padding: 12px;
}

.header {
  text-align: center;
  line-height: normal;
  margin-bottom: 12px;
}

.header .title {
  font-size: 3em;
  margin: 0;
}

.label {
  color: #E2689A;
}

.loading {
  text-align: center;
}

.formFooter {
  display: flex;
  justify-content: flex-end;
}

.formFooter input[type="submit"] {
  margin-top: 12px;
}

.saved {
  border: 0;
}
